		*{
			padding: 0%;
			margin: 0%;
		}
		#Q{
			position: relative;
			left: -47%;
			font-size: 22px;
		}
		body{
			background-size: cover;
			text-align: center;
			color: white;
		}
		#main{
			margin: 200px auto;
		}
		input{
			margin-left: -20%;
		}
		a{
			text-decoration: none;color:white;
		}
		a:hover{
			text-decoration: underline; color: yellow;
		}
		#S{
			margin: 0 auto;
			cursor: pointer;
		}
	    img{
	    	width: 80px;
	    	height: 22px;
	    	position: relative;
	    	left: -60px;
	    }